// 自定义 element-ui 的默认样式
@import './common-variables';

.el-container {
  height: 100%;
}

.el-aside {
  height: 100%;
  padding: $spacing-medium;
  overflow-y: auto;
  border-right: $border-base;
}

.el-main {
  padding: $spacing-base;
  height: 100%;
}
