@import '~@yujinpan/common-modules/dist/styles/index.scss';
@import 'element-ui/lib/theme-chalk/index.css';

.el-select-tree {
  ul {
    padding-left: 0;
  }
}

.highlight-vue {
  max-height: 350px;
  overflow-y: auto;
}
